/*
 * Stylesheet for Manage Roles Component
 */

 .form-container {
   min-height: 90vh;
 }

.data-holder {
  border: 1px solid;
  min-height: 110px;
  margin: 2px;
}

.perm_label {
    padding-left: 5px !important;
}

.no-padding {
  padding: 0px;
}

.x_panel_overflow {
  overflow: auto;
}

.x_footer {
    font-style: italic;
}

.role_panel:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.30), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}
